@import 'setup';

* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    display: block;
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #000000;
}

header {
    font-weight: 700;
    letter-spacing: 1px;
}

.headerBackground {
    background-image: url(.././assets/headerImage.jpg);
    background-size: cover;
    background-position: center;
    height: 92vh;
}

.hello {
    padding-top: 160px;
    color: #FFFFFF;
        h1 {
            font-size: 130px;
            margin: 0 0 0 -6px;
        }
        h2 {
            font-size: 80px;
        }
        p {
            font-size: 40px;
        }
}

header nav {
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 3px 1px rgba(0, 0, 0, 0.08);
        ul {
            list-style: none;
            display: flex;
            justify-content: space-around;
        }
        a {
            text-decoration: none;
            text-transform: uppercase;
            font-size: 16px;
            color: #000000;
        }
}

main h2 {
    font-size: 76px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 100px;
}

section {
    padding: 140px 0;
}

.aboutFlex {
    display: flex;
    justify-content: space-between;
}

.aboutImage {
    width: 35%;
    min-width: 350px;
}

.aboutDescription {
    width: 60%;
    line-height: 30px;
        p {
            padding: 0 10px 10px 10px;
        }
        .connect {
            font-size: 28px;
            font-weight: 700;
            padding-top: 20px;
            color: #B22725;
        }
        ul {
            list-style: none;
            display: flex;
        }
        i {
            font-size: 36px;
            color: #B22725;
            padding: 20px;
        }
}

.divider {
    background-image: url(.././assets/dividerImage.jpg);
    background-size: cover;
    background-position: center;
}

.skills,
footer {
    background-color: #333435;
    color: #FFFFFF;
}

.skills .grid {
    display: grid;
    grid-template-columns: 22.5% 22.5% 22.5% 22.5%;
    grid-gap: 40px;
    text-align: center;
        i{
            font-size: 80px; 
            text-align: center;
        }
        p {
            padding: 10px;
        }
}

.portfolio .grid {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 10%;
    padding-bottom: 140px;
        .project {
            background-color: #F8F8F8;
        }
        h3 {
            font-size: 30px;
            font-weight: 700;
            padding: 20px;
        }
        p {
            padding: 0 20px;
        }
        .link {
            padding: 40px 20px 60px 20px;
        }
}

.contact {
    background-image: url(.././assets/contactImage.jpg);
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
        ul {
            list-style: none;
            display: flex;
            justify-content: center;
        }
        i {
            font-size: 60px;
            padding: 50px 30px;
            color: #FFFFFF;
        }
}

.contact form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
        label {
            margin-bottom: 10px;
        }
        input,
        textarea {
            padding: 10px;
            margin-bottom: 30px;
        }
        textarea {
            resize: none;
        }
        button {
            background-color: #C2C2C3;
            padding: 12px;
            width: 120px;
            border: none;
            border-radius: 5px;
        }
}

.email {
    text-align: center;
    margin: 20px;
        a {
            font-size: 30px;
            font-weight: 700;
            color: #FFFFFF;
            text-decoration: none;
            text-align: center;
            border: 3px solid #FFFFFF;
            padding: 10px 30px;
        }
}

footer {
    // background-color: #000000;
    font-size: 16px;
    // color: #FFFFFF;
    text-align: center;
    padding: 16px;
}